<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <header>
        <div class="container flex">
          <a class="home" href="/"> Happily </a>
          <span>
            <button class="btn">
              <a href="/events/new"> Add Events </a>
            </button>
          </span>
        </div>
      </header>
      <main>
        <p class="para">Go To Events</p>
        <div class="pic">
          <a href="/events">
            <div class="button"></div>
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
