/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 1.5px;
  font-family: "Raleway", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-20 {
  flex: 0 1 20%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-40 {
  flex: 0 1 40%;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-43 {
  flex: 0 1 43%;
}
.flex-68 {
  flex: 0 1 68%;
}
a {
  text-decoration: none;
}
header {
  background-color: #81caff;
  padding: 1rem 0rem;
}
.home {
  font-size: 2rem;
  font-weight: 800;
}
.btn {
  background-color: #b78cf0;
  border: 0;
  border-radius: 3px;
  padding: 0.8rem 0.8rem;
}
.btn a {
  color: white;
}

.pic {
  width: 70%;
  background: url("http:unsplash.it/400x300");
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  position: absolute;
  top: 48%;
  left: 45%;
  height: 40px;
  width: 100px;
  background: #81caff;
  border-radius: 4px;
}

.button:before {
  content: "";
  width: 55px;
  height: 2px;
  background: slategray;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 24px;
  transition: all 0.3s ease;
}

.button:hover:before {
  right: 34px;
  width: 35px;
}

.button:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 14px;
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 20px;
  transition: all 0.3s ease;
}

.button:hover:after {
  right: 34px;
  right: 30px;
}

.para {
  font-size: 3.5rem;
  margin-left: 29rem;
  padding-top: 7rem;
}
input {
  display: block;
}
.form {
  display: inline-block;
  margin-top: 6rem;
  padding: 1rem 1rem;
  border: 2px solid gray;
  border-radius: 3px;
  width: 50%;
}
fieldset {
  margin: 0 auto;
  text-align: center;
}
.form-control {
  width: 100%;
  margin-bottom: 1rem;
  height: 30px;
  padding-left: 1rem;
  border: 0;
  border-bottom: 1px solid silver;
  outline: none;
}
.all-events h5 {
  text-align: center;
  font-size: 3rem;
}
.all-events h6 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.8rem;
  margin-top: 1rem;
}

.tags {
  font-size: 1rem;
}
.aside {
  background-color: #8f8a8d;
  /* width: 20%; */
  /* position: fixed; */
  height: 100vh;
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* z-index: -1; */
}
main {
  height: 100vh;
  overflow: auto;
}
main::-webkit-scrollbar {
  display: none;
}
.image {
  width: 100%;
  object-fit: cover;
  font-size: 0;
}
.likes {
  font-size: 1rem;
  color: red;
  margin-left: 2rem;
}

span {
  font-size: 0.9rem;
}
.category {
  font-size: 1rem;
  padding: 0rem 0.5rem;
  border: 1px solid black;
  color: red;
  margin-left: 0.7rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
h4 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 1.4rem;
}
.categories {
  margin-top: 6rem;
}
.location {
  font-size: 0.6rem;
  padding: 0.6rem 0.5rem;
  border: 1px solid black;
  color: red;
  margin-left: 0.7rem;
}
.img-section {
  margin-left: 21rem;
  margin-top: 6rem;
  border: 1px solid silver;
  border-radius: 3px;
  font-size: 0;
  margin-bottom: 10px;
}
.title {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}
.paragraph {
  color: #000000;
  font-size: 0.7rem;
  width: 70%;
  margin-left: 11rem;
  font-weight: 400;
}
.parag p {
  text-align: center;
}
.author {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.3rem 0.3rem;
  border: 1px solid silver;
  width: 24%;
  text-align: center;
  margin-left: 25rem;
}
.image-detail {
  width: 50%;
  margin: 1rem 17rem;
}
.justify {
  justify-content: flex-start;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.host {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  margin-top: 0.6rem;
}
.start-date {
  text-align: center;
}
.end-date {
  font-size: 0.6rem;
  color: mediumaquamarine;
  font-weight: 800;
}
.category1 {
  margin-top: 0.8rem;
}
.location-bar {
  font-size: 1.3rem;
  margin-top: 1rem;
}
.location-bar span {
  color: #81caff;
}
.parag {
  padding: 0.7rem 0.7rem;
  border: 1px solid silver;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.head {
  margin-left: 29rem;
}
.edit button {
  color: white;
  background-color: rgb(100, 197, 176);
  border: 0;
  border-radius: 2px;
  padding: 0.5rem 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.delete button {
  color: rgb(197, 18, 42);
  background-color: rgb(100, 197, 176);
  border: 0;
  border-radius: 2px;
  padding: 0.5rem 0.7rem;
  margin-left: 2.9rem;
}

.text-input {
  display: block;
  background-color: blueviolet;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
  margin-left: 30rem;
}
.text-center {
  text-align: center;
}
